{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
    Записи сообщества: {{ group.title }}
{% endblock %}
{% block content %}
        <h1>{{ group.title }}</h1>
          {{ group.description|linebreaks }}
        {% for post in posts %}
        {% include 'posts/includes/list_posts.html' with flag_group_link=False %}
             {% if not forloop.last %}<hr>{% endif %}
             {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </div>
{% endblock %}
