{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
{{ post.text|slice:':30' }}
{% endblock %}
{% block content %}
<div class="row">
    <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
            <li class="list-group-item">
                {% if post.group %}
                Группа: {{ post.group.title }}
                <a href="{% url 'posts:group_list' post.group.slug %}">
                    {% endif %}
                    все записи группы
                </a>
            </li>
            <li class="list-group-item">
                Автор: {{ post.author.get_full_name }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Всего постов автора: <span> {{ post.author.posts.count }} </span>
            </li>
            <li class="list-group-item">
                <a href="{% url 'posts:profile' post.author %}">
                    все посты пользователя
                </a>
            </li>
            <li class="list-group-item">
                 {% if post.author == user %}
                     <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">
                         редактировать запись
                     </a>
                 {% endif %}
            </li>
        </ul>
    </aside>
    <article class="col-12 col-md-9">
        {% thumbnail post.image "1280x840"  upscale=True as im %}
            <img class="img-thumbnail col-md-5 mx-md-3" src="{{ im.url }}">
        {% endthumbnail %}
        {{ post.text|linebreaks }}
    </article>
</div>
{% endblock %}